<section style="text-align:center">
  <h1>404</h1>
  <p>Sorry, we couldn't find that page.</p>
  <p><a href="/" role="button">Go Home</a></p>
  <figure aria-hidden="true" style="max-width:520px;margin:2rem auto 0">
    <img src="https://images.unsplash.com/photo-1517959105821-eaf2591984c2?q=80&w=1200&auto=format&fit=crop" alt="Not found">
  </figure>
  
</section>


